/* BOOTSTRAP OVERWRITES ------------------- */

$grid-gutter-width: 30px; /* gutter width needs to be divisible by 2  */
$screen-sm: 768px; /* first breakpoint, tablets and up */
$screen-md: 992px; /* second breakpoint, desktops and up */

/* COLORS --------------------------------- */

$color-white: #fff;
$color-grey-light: #f1f1f1;
$color-grey-medium: #676767;
$color-grey-dark: #424242;
$color-green: #c1c523;
$color-green-dark: #6a9000;
$color-purple: #ff00ff;
$color-purple-dark: #d600d6;
$color-twitter: #00b6f7;
$color-facebook: #395ea3;